/* Alt + shift +F = identação do código*/
* { /*O "*" seleciona todas as Tags do HTML*/
    margin: 0;
    /* margem interna dos elementos*/
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    /* Tira o estilo da lista*/

}

a {
    text-decoration: none;
    color: inherit;
}